extends layout

block content
  h1= title
  p Welcome to #{title}

  if (!user)
    a(href="/t1/login") Login
    br
    a(href="t1//register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
